*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
    
  }
  
  .logo-container {
    flex: 1;
  
  }
  
  .logo {
    font-size: 30px;
    color: #ffffff;
  }
  .logo span{
    color:red;
    font-weight:bolder;
    font-size: 30px;
  }
  .menu-container {
    flex: 6;  
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
.container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,50,0.8)) , url(topMovie.jpg);
    background-size: cover;
    position:relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #292929;
    position: relative;
}
/* .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #292929;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);


} */

.input-field{
    background: #eaeaea;
    margin: 15px 0; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
.input-field-agree{
    width: 80%;
    display: flex;
    margin: 10px;
    text-align: left;
    align-items: center;
}
.btn-field{
    width:100%;
    display: flex;
    /* justify-content: space-between; */

}
.btn-field button{
    flex-basis: 48%; 
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
}
/* .input-group{
  height: 380px;
} */
/* .btn-field button.disable{
    background:#eaeaea;
    color: #555;
} */
.input-field-agree label{
  width: 2000px;
}

.input-field-gender{
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 40px;
  transition: max-height 0.5s;
  overflow: hidden;

}
.input-field-gender label{
  position: relative;
  right: 60px;
}
.input-field-gender i{
  margin-left: 15px;
  color: #999;
}
.input-field-gender input{
  position: relative;
  right: 30px;
}


footer {
  background-color: #292929;
  text-align: center;
  padding: 0.1rem 0;
}

footer .socials {
  padding: 5px;
}

footer .socials a {
  color: #ffffff;
  margin: 1rem;
}

footer .socials a:hover {
  color: #fff;
}

footer .credit {
  font-size: 0.8rem;
  color: white;
}

footer .credit a {
  font-weight: 700;
}


/* untuk iphone SE */
@media only screen and (min-width: 320px) {
  .text{
    font-size: 20px;
    padding-top: 200px;
  }
  .menu-list-item{
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo {
    font-size: 20px;
    margin-left: 0;
  }
  .logo span {
    font-size: 20px;
  }
  .navbar-container {
    padding: 0 20px;
  }
  .profile-picture {
    width: 25px;
    height: 25px;
  }
  .profile-text-container {
    margin: 0 10px;
    font-size: 12px;
  }
  .form-box{
    width: 80%;
    max-width: 450px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
  }
  .form-box h1{
    font-size: 25px;
    margin-bottom: 30px;
    color: #292929;
    position: relative;
  }
  .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #292929;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .input-field{
    background: #eaeaea;
    margin: 8px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 40px;
    transition: max-height 0.5s;
    overflow: hidden;
  }

  input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }
  .input-field i{
    margin-left: 10px;
    color: #999;
  }
  
  .btn-field{
    width:100%;
    display: flex;
  

  }
  .btn-field button{
    flex-basis: 30%; 
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    align-items: center;
    margin-left: 35%;
    margin-top: 10px;
  }


  .input-field-agree label{
    width: 1000px;
  }

  .input-field-gender{
    background: #eaeaea;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    transition: max-height 0.5s;
    overflow: hidden;

  }
  .input-field-gender label{
    position: relative;
    right: 30px;
  }
  .input-field-gender i{
    margin-left: 10px;
    color: #999;
  }
  .input-field-gender input{
    position: relative;
    right: 10px;
  }
}

/* utk ipad mini */
@media only screen and (min-width: 768px){

  
  .menu-list-item{
    font-size: 15px;
    margin-left: 0;
    margin-right:30px;
  }
  .logo {
    font-size: 30px;
    margin-left: 20px;
  }
  .logo span {
    font-size: 30px;
  }
  .navbar-container {
    padding: 0 20px;
  }
  .profile-text-container {
    margin: 0 20px;
    font-size: 18px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  

  .form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
  }
  .form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #292929;
    position: relative;
  }
  .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #292929;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }

  .input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }

  input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }
  .input-field i{
    margin-left: 15px;
    color: #999;
  }
  .input-field-agree{
    width: 80%;
    display: flex;
    margin: 10px;
    text-align: left;
    align-items: center;
  }
  .btn-field{
    width:100%;
    display: flex;
  /* justify-content: space-between; */

  }
  .btn-field button{
    flex-basis: 48%; 
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
  }


  .input-field-agree label{
    width: 2000px;
  }

  .input-field-gender{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    transition: max-height 0.5s;
    overflow: hidden;

  }
  .input-field-gender label{
    position: relative;
    right: 60px;
  }
  .input-field-gender i{
    margin-left: 15px;
    color: #999;
  }
  .input-field-gender input{
    position: relative;
    right: 30px;
  }

  
}


  

/* utk desktop */
@media only screen and (min-width: 1000px){

  
  .menu-list-item{
    font-size: 15px;
    margin-left: 0;
    margin-right:30px;
  }
  .logo {
    font-size: 30px;
    margin-left: 20px;
  }
  .logo span {
    font-size: 30px;
  }
  .navbar-container {
    padding: 0 20px;
  }
  .profile-text-container {
    margin: 0 20px;
    font-size: 18px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  

  .form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
  }
  .form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #292929;
    position: relative;
  }
  .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #292929;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);


  }

  .input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }

  input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    
  }
  .input-field i{
    margin-left: 15px;
    color: #999;
  }
  .input-field-agree{
    width: 80%;
    display: flex;
    margin: 10px;
    text-align: left;
    align-items: center;
  }
  .btn-field{
    width:100%;
    display: flex;
    /* justify-content: space-between; */

  }
  .btn-field button{
    flex-basis: 48%; 
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
  }


  .input-field-agree label{
  width: 2000px;
  }

  .input-field-gender{
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 40px;
  transition: max-height 0.5s;
  overflow: hidden;

  }
  .input-field-gender label{
  position: relative;
  right: 60px;
  }
  .input-field-gender i{
  margin-left: 15px;
  color: #999;
  }
  .input-field-gender input{
    position: relative;
    right: 30px;
  }

  
}
  
